@import './tools.tracking';
@import './tools.dynamic-type';
@import '~sass-mq';

article {
    header {
        padding: 24px 16px;

        h1, h2 {
            @include dynamic-type(large-title);
            font-weight: 800 !important;
        }
        p {
            margin-top: 0;
        }
        img {
            display: block;
            padding: 36px;
            margin-left: auto;
            margin-right: auto;
            width: 33%;
        }
    }
    main {
        margin: 48px auto;
        max-width: 720px;
        @include dynamic-type(body);
    }
}