@import './settings.fonts';
@import './tools.tracking';
@import './tools.dynamic-type';
@import '~sass-mq';

article {
    header {
        position: relative;
        z-index: 0;
        padding: 24px 16px;

        .category {
            font-family: $monospace-font-stack;
            font-weight: 400 !important;
        }

        h1, h2 {
            // z-index: 1;
            font-weight: 800 !important;
            padding-bottom: 24px;
            @include dynamic-type(large-title);
        }
        p {
            // z-index: 1;
            margin-top: 0;
            // font-family: $serif-font-stack;
            @include dynamic-type(headline);
        }
        img {
            /*display: block;
            padding: 36px;
            margin-left: auto;
            margin-right: auto;
            width: 33%;*/
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            height: 50%;
            opacity: 0.99;
        }
        time {
            font-family: $monospace-font-stack;
        }
    }
    main {
        margin: 0 auto;
        max-width: 720px;
        // font-family: $serif-font-stack;

        @include dynamic-type(body);
    }
}
