$sans-serif-font-stack: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
$serif-font-stack: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
// $monospace-font-stack: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$monospace-font-stack: "SF Mono", Menlo, monospace, "SF Pro Icons";