@import '~sass-mq';
@import '../../shared/scss/components.post';

:host {
    ul {
        // max-width: 700px;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
            width: 100%;
            padding: 12px;

            @include mq($from: tablet) {
                width: calc(50% - 24px);
            }

            article {

                header {
                    border-radius: 8px;
                }
            }
        }
    }
}