<ul>
  <li *ngFor="let post of cms.postList | async">
    <article explodeAnimation
             destination="/blog/{{ post.postSlug }}"
             (click)="cms.setPost(post)">
      <header [ngStyle]="{ backgroundImage: 'linear-gradient(45deg, ' + post.postColor1 + ', ' + post.postColor2 + ')', color: setPostColor(post)}">
        <img src="{{ post.postImage.url }}">
        <p>{{ post.category.categoryTitle }}</p>
        <h1 class="balance-text">
          <a href="/blog/{{ post.postSlug }}">{{ post.postTitle }}</a>
        </h1>
        <p>{{ post.postDescription }}</p>
        <time>{{ post.postDateAndTime | timeAgo }}</time>
      </header>
      <main>
        <markdown>{{ post.postContent }}</markdown>
      </main>
    </article>
  </li>
</ul>
<div id="bottomSheet"></div>