<article *ngIf="cms.post | async; let post">
  <header [ngStyle]="{ backgroundImage: 'linear-gradient(45deg, ' + post.postColor1 + ', ' + post.postColor2 + ')', color: setPostColor(post)}">
    <p class="category">{{ post.category.categoryTitle }}</p>
    <h1 class="balance-text">{{ post.postTitle }}</h1>
    <img src="{{ post.postImage.url }}">
    <p>{{ post.postDescription }}</p>
    <time>{{ post.postDateAndTime | timeAgo }}</time>
  </header>
  <main *ngIf="post.postContent">
    <markdown>{{ post.postContent }}</markdown>
  </main>
</article>